/* Start Carosel Cards in header (index page) */


/* This will expand the card and necessarry children so they don't look shorter then the rest of the cards */
.expand-img {
  height: 85%;
}
.expand-img > .card {
  height: 100%;
}

.expand-img > .card > a, .card > a > img {
  height: 100%;
}
/* End Carosel Cards in header (index page) */


/* Start Key Project cards (index page)*/
.extend-img {
  max-height: 350px;
}

.extend-img > img {
  height: fit-content;
}
/* End Key Project cards (index page)*/


/* Used site wide */
.underline-anchor {
  text-decoration: underline;
}

.inline-block {
  display: inline-block;
}