/* Start Header */
.faq-link {
  text-decoration: underline;
}
/* End Header */

/* Contact Form Start */
section#container-contact {
  color: black;
  line-height: 1.4;
  padding: 1em;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 50px;
}

section#container-contact > h3{
  text-align: center;
  font-size: 2em;
  color: black;
}

.contact > h4, .contact-info > h4  {
  font-size: 1.3em; 
  color: white;
}

.wrapper {
  box-shadow: 0 0 10px rgba(72,94,116,0.7);
}

.wrapper > * {
  padding: 1em;
}

div.contact-info h4, .contact-info li {
  text-align: left;
  margin: 0 0 1rem 0;
}

/* Form Styles */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#contactForm > p  > input {
  box-sizing: border-box;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea {
  width: 100%;
}

.contact form button, .contact form input {
  padding: 1em;
}

.contact form button {
  text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus {
  background: var(--purple);
  outline: 0;
  transition: background-color 2s ease-out;
  border: 1px solid #444444;
}

/* Large Screen Media Queries */
@media(min-width:700px) {
  .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
      padding: 2em;
  }
  #container-contact > h4, .contact-info > ul, .contact-info > h3  {
      text-align: left;
  } 
}
/* Contact Form End */

/* JS ALERTS */
.contactAlert {
  text-align: center;
}
